.header {
	padding: 15px 100px;
	background-color: #FFD07F;
	display: flex;
	align-items: center;
	height: 55px;
}

.header-container {
	position: fixed;
	width: 100%;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.541);
	z-index: 100;
	top: 0;
}

.m-profile {
	display: flex;
	align-items: center;
	justify-content: center;
}

.taseen-photo {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	border-radius: 50%;
	transition: all 300ms ease-in-out;
	border: 2px solid #000000;
}

.m-profile strong {
	color: #000000;
	font-size: 16px;
	border-radius: 15px;
	padding: 5px 0;
	transition: all 300ms ease-in-out;
}

.m-profile:hover strong {
	/* letter-spacing: 1px; */
}

.m-profile:hover .taseen-photo {
	/* margin-left: -10px; */
}

.m-contact strong {
	color: #FFD07F;
	font-size: 14px;
	background-color: #000000;
	border-radius: 15px;
	padding: 5px 10px;
	transition: all 300ms ease-in-out;
	outline: 1px solid #000000;
}

.m-contact {
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.m-contact a {
	text-decoration: none;
}

.m-menu {
	display: flex;
	justify-content: end;
}

.menu-list {
	display: flex;
}

.menu-item {
	padding: 5px 10px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #000000;
	font-size: 14px;
	margin: 5px;
	border-radius: 15px;
	transition: all 300ms ease-in-out;
	/* outline: 1px solid #123456; */
}

.menu-link:hover {
	text-decoration: none !important;
}

.menu-item:hover,
.m-contact strong:hover {
	color: #000000;
	background-color: white;
	padding: 5px 30px;
}




.intro {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/iMac-2.webp);
	background-color: #000000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.intro {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	align-content: center;
	padding: 0 100px;
	z-index: 7;
}

.slider-button {
	display: inline-block;
}

.slider-button a {
	color: black;
	text-decoration: none;
	background-color: #FFD07F;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	border: none;
	padding: 10px 30px;
	border-radius: 5px;
	transition: all 300ms ease;
	margin: 20px 15px 20px 0;
	color: black;	
	border: 1px solid #FFD07F;
}

.slider-button a:hover {
	/* margin: 48px auto; */
	background-color: black;
	color: #FFD07F;
}


.button li:nth-child(3) a {
	border: 1px solid #FFD07F;
	color: #FFD07F;
	background-color: transparent;
	}
.button li:nth-child(3):hover a {
	background-color: #000000;
	
}

 .down {
	/* margin-left: -20px !important; */
	position: absolute;
	bottom: 50px;
	height: 50px;
	width: 50px;
	background-color: transparent;
	color: #fff;
	font-size: 21px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.199);
	border-radius: 50%;
	box-sizing: border-box;
	border: 5px #010102 solid;
	overflow: hidden;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
} 

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);

 }
}
.cap-head {
	font-size: 52px;
	color: #FFD07F;
	font-weight: bolder;
	text-transform: uppercase;
	width: 50%;
}

.cap-body strong {
	color: #FFD07F;
}

.cap-head span {
	text-decoration: none;
}

abbr[title], acronym[title] {
	border: 0 !important;
	outline: 0 !important;
	text-decoration: unset;
}

.cap-body {
	color: white;
	font-size: 21px;
	line-height: 37px;
	margin: 20px 0;
	text-align: left;
	width: 550px;
}


/* .social-icons-left {
	height: 200px;
	position: absolute;
	top: calc(85% - 80px);
	left: 10px;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
} */

.social-icons-bottom {
	display: block;
}

.social-icons-bottom ul li {
	display: inline-block;
}

.social-icons li a {
	width: 45px;
	width: 40px;
	text-align: center;
	display: inline-block;
	line-height: 36px;
	background-color: #000000;
	border-radius: 50%;
	transition: all 0.5s;
	color: #FFD07F;
	font-size: 17px;
	margin: 5px;
	box-shadow: 0 0 25px 0 rgba(109, 109, 109, 0.185);
}

.social-icons li a:hover {
	/* margin-left: 15px; */
	color: #000000;
	background-color: #FFD07F;
}


.whatsapp-button {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 5px 10px;
	color: rgb(255, 255, 255);
	padding: 10px;
	z-index: 9;
}

.whatsapp {
	color: white;
	border: none;
	color: #000000;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.178);
	font-weight: bolder;
	padding: 10px;
	background-color: #FFD07F;
	border: 2px solid #000000;
}

.wp-icon {
	font-size: 30px;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	line-height: 30px;
}

.wp-text {
	text-transform: uppercase;
	border-radius: 20px;
	padding: 5px 20px;
	margin-right: 10px;
}

.s2img {
	transition: all 300ms ease-in-out;

}

.s2img:hover {
	animation-name: flower;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}



@keyframes flower {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}











.section-2 {
	background-color: #032727;
	height: max-content;
	padding: 100px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.section-2 .heading {
	color: white;
	font-size: 32px;
	font-weight: bolder;
	text-transform: uppercase;
}

.section-3 .heading {
	color: #123456;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: bolder;
}

.section-2 ul li {
	display: inline-block;
	margin: 5px;
	color: #121212;
	font-weight: bolder;
	background-color: rgb(255, 255, 255);
	padding: 5px 15px;
	border-radius: 20px;
	transition: all 300ms ease-in-out;
	cursor: pointer;
}

.section-2 ul li:hover {
	color: #ffffff;
	background-color: rgba(3, 3, 3, 0.281);
}




.section-2 .row {
	/* background-color: rgb(255, 230, 0); */
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;

}

.section-2 .row .sec1,
.sec2 {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card1,
.card3,
.card4 {
	width: 555px;
	height: 300px;
	padding: 10px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card1,
.card3,
.card4 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color: white;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	transition: all 300ms ease-in-out;
}

.card1 strong,
.card3 strong,
.card4 strong {
	font-size: 21px;
	font-weight: normal;
}


.card1 {
	background-color: #c53d51;
}

.card3 {
	background-color: #2A4840;
}

.card4 {
	background-color: #091841;
}

.card2 {
	width: 555px;
	height: 300px;
	padding: 10px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card1:hover,
.card3:hover,
.card4:hover {
	filter: brightness(150%);
}

.section-3 {
	text-align: center;
	background-color: wheat;
	height: max-content;
	flex-direction: column;
	display: flex;
	width: 100%;
	justify-content: center;	
	padding: 100px 100px;
}

.section-3 .row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.section-3 .row .job-card {
	background-color: #ffffffb7;
	width: 40%;
	height: 250px;
	margin: 20px !important;
	display: flex;
	overflow: hidden;
	transition: all 300ms ease-in-out;
	box-shadow: 0 0 15px 0 rgba(124, 124, 124, 0.068);
	border-radius: 10px;
	border: 4px solid white;

}

.section-3 .row .job-card img {
	transition: all 300ms ease-in-out;
	border-radius: 10px;
}

.section-3 .row .job-card:hover {
	border: 4px solid #123456;
}

.job-card .img {
	width: 60%;
	height: 100%;
	display: flex;
	align-items: stretch;
}

.job-card .text {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
	margin: 25px;
	transition: all 300ms ease-in-out;
}

.section-3 .row .job-card .text span {
	color: #123456;
	display: none;
	transition: all 300ms ease-in-out;
}

.section-3 .row .job-card:hover .text span {
	color: white;
	display: block;
	text-align: left;
}

.section-3 .row .job-card .text strong {
	color: #123456;
	font-size: 21px;
	text-transform: uppercase;
	transition: all 300ms ease-in-out;
}

.section-3 .row .job-card .text div input {
	width: 80px;
	margin: 5px 0;
	background-color: #123456;
	color: white;
	font-weight: bolder;
	border: none;
	border-radius: 10px;
	padding: 8px 12px;
	text-align: center;
	height: 35px;
	transition: all 300ms ease;
}
.section-3 .row .job-card .text div input:hover {
	background-color: white;
}
.section-3 .row .job-card .text div .icon {
	border-radius: 10px;
	height: 35px;
	background-color: #4be089;
	margin-left: 10px;
}

.section-3 .row .job-card:hover {
	background-color: #123456;
	color: wheat;
}

.section-3 .row .job-card:hover strong {
	color: wheat;
}

.section-3 .row .job-card:hover .img img {
	transform: scale(1.12);
	border-radius: 10px;
}

.section-3 .row .job-card:hover .text input {
	background-color: wheat;
	color: #123456;
}

.section-3 .row .cm {
	background-color: #ffffff6c;
	color: #123456;
	font-size: 32px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms ease-in;
}






.section-4 {
	background-color: #0f072c;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	align-content: space-between;
	width: 100%;
	padding: 50px 0;
	color: white;
}

.section-4 .heading {
	color: white;
	font-size: 32px;
	font-weight: bolder;
	text-transform: uppercase;
	padding: 20px;
	display: inline;
}

.section-4 .heading .deliveryHeading {
	padding: 20px;
	text-align: left;
	font-size: 14px;
	display: inline;
}


.section-4 .row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.demoCard {
	height: 260px;
	width: 420px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .3ms ease;
	border-radius: 10px;
	border: 3px solid #ffffff;
	position: relative;
	margin: 10px;
}

.cardOverlay {
	padding: 15px 0;
	height: 0;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	transition: all 300ms ease-in-out;
	border-radius: 10px;
	position: absolute;
	top: 0px;
}

.cardOverlay li {
	opacity: .0;
	list-style-type: none;
	transition: all 500ms ease-in-out;
}

.cardOverlay li a {
	text-decoration: none;
	color: #123456;
	font-weight: bold;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 5px;
	transition: all 300ms ease-in-out;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.164);
}


.cardOverlay li:nth-child(2) a:hover {
	background-color: white;
	color: #e86859;
}

.cardOverlay li:nth-child(3) a:hover {
	background-color: white;
	color: #0aa54a;
}

.cardOverlay li:first-child a {
	background-color: #ffffff;
	color: #123456;
}

.cardOverlay li:nth-child(2) a {
	background-color: #059bff;
	color: #ffffff;
}

.cardOverlay li:nth-child(3) a {
	background-color: #46e688;
	color: #ffffff;
}

.demoCard:hover .cardOverlay li {
	opacity: 1;
}

.demoCard:hover .cardOverlay{
	background-color: #00000028;
	height: 100%;

}


.dc1:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h1.webp);
}

.dc2:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h2.webp);
}

.dc3:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h3.webp);
}

.dc4:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h4.webp);
}

.dc5:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h5.webp);
}

.dc6:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h6.webp);
}

.dc7:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h7.webp);
}

.dc8:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h8.webp);
}

.dc9:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h9.webp);
}

.dc10:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h10.webp);
}

.dc11:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h11.webp);
}

.dc12:hover {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/h12.webp);
}



.dc1 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/1.webp);
}

.dc2 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/2.webp);
}

.dc3 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/3.webp);
}

.dc4 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/4.webp);
}

.dc5 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/5.webp);
}

.dc6 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/6.webp);
}

.dc7 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/7.webp);
}

.dc8 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/8.webp);
}

.dc9 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/9.webp);
}

.dc10 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/10.webp);
}

.dc11 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/11.webp);
}

.dc12 {
	background-image: url(https://raw.githubusercontent.com/seensqima/taseen/main/img/template/12.webp);
}







/* SECTION 5 ########################################################################################################## */
.section-5,.section-6,.section-7,.section-8,.section-9{
	overflow: hidden;
}
.section-5 .row, .section-6 .row, .section-7 .row, .section-8 .row{
	overflow: hidden;
}
.imgg img{
	transition: all 300ms ease;
	transform: scale(1);
}
.imgg img:hover{
	transform: scale(1.05);
}
.section-5{
	background-color: #ffcc74;
}
.section-6{
	background-color: #7ea1ff;
}
.section-7{
	background-color: #6af8c2;
}
.section-8{
	background-color: #ff6464;
}
.section-9{
	background-color: #da7cff;
}

.pftext{
	margin-bottom: -250px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #08010f;
	text-transform: uppercase;
	word-spacing: 5px;
}


















* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', arial, sans-serif;
	scroll-behavior: smooth !important;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: #fff;
}

ul {
	list-style: none;
	margin: 0px;
}

p {
	font-size: 13px;
	line-height: 22px;
	color: #4a4a4a;
}

.white-border-button a {
	padding: 14px 20px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}

.pink-button a {
	padding: 14px 20px;
	background-color: #b94e5e;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}

.white-button a {
	padding: 14px 20px;
	background-color: #fff;
	border-radius: 30px;
	color: #121212;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
}


.banner .col-md-8 {
	padding-left: 0px;
	padding-right: 5px;
}

.banner .col-md-4 {
	padding-right: 0px;
	padding-left: 5px;
}


.banner .left-banner-content {
	padding-top: 175px;
	padding-bottom: 175px;
	padding-left: 120px;
	text-align: left;
	background-image: url(..img/banner-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 680px;
	height: 680px;
}

.left-banner-content h6 {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

.left-banner-content h1 {
	font-size: 64px;
	font-weight: 300;
	color: #fff;
	line-height: 70px;
}

.left-banner-content .line-dec {
	width: 60px;
	height: 3px;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #f4bc51;
}

.left-banner-content .white-border-button {
	margin-top: 52px;
}

.right-banner-content {
	padding: 100px 45px;
	background-color: #f4bc51;
	text-align: center;
	min-height: 680px;
	height: 680px;
}

.right-banner-content h2 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-bottom: 5px;
}

.right-banner-content .line-dec {
	width: 100%;
	height: 5px;
	background-color: #fff;
	margin: 30px auto;
}

.right-banner-content span {
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.5px;
}

.right-banner-content em {
	font-style: normal;
	font-weight: 700;
}

.right-banner-content p {
	font-style: italic;
	font-size: 13px;
	color: #fff;
}



/* .right-banner-content .social-icons {
	margin-top: 40px;
	padding: 0;
	list-style: none;
} */

/* .right-banner-content .social-icons li {
	display: inline-block;
	margin: 0px 3px;
} */

/* .right-banner-content .social-icons li a {
	width: 36px;
	height: 36px;
	text-align: center;
	display: inline-block;
	line-height: 36px;
	background-color: #fff;
	border-radius: 50%;
	transition: all 0.5s;
	color: #f4bc51;
	font-size: 17px;
} */

/* .right-banner-content .social-icons li a:hover {
	background-color: #d59b2b;
} */




.best-offer {
	margin-top: 10px;
}

.best-offer .col-md-4 {
	padding-left: 0px;
	padding-right: 5px;
}

.best-offer .col-md-8 {
	padding-right: 0px;
	padding-left: 5px;
}

.best-offer-left-content {
	min-height: 550px;
	height: 550px;
	padding-top: 175px;
	padding-bottom: 175px;
	text-align: center;
	background-image: url(..img/best-offer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.best-offer-left-content .icon {
	text-align: center;
	margin: 0 auto;
	width: 140px;
	height: 140px;
	line-height: 140px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
}

.best-offer-left-content h4 {
	margin-top: 33px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

.best-offer-right-content {
	background-color: #eee;
	padding: 80px 40px;
	min-height: 550px;
	height: 550px;
}

.best-offer-right-content h2 {
	margin-top: 0px;
	font-size: 32px;
	font-weight: 300;
	color: #121212;
	line-height: 36px;
}

.best-offer-right-content em {
	font-style: normal;
	color: #b94e5e;
	font-weight: 700;
}

.best-offer-right-content p {
	margin: 18px 0px;
}

.best-offer-right-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.best-offer-right-content ul li {
	display: block;
	font-size: 13px;
	font-style: italic;
	color: #7a7a7a;
	font-weight: 300;
	margin-bottom: 10px;
}

.best-offer-right-content .pink-button {
	margin-top: 45px;
}





.projects-holder .mix {
	display: none;
}

.events {
	margin-top: 10px;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	background-image: url(..img/events-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.events .filter-categories {
	list-style: none;
	margin-top: 0px;
	padding-right: 0px;
	text-align: center;
	margin-bottom: 60px;
}

.events .filter-categories li {
	display: inline;
	text-align: center;
	margin: 8px 0px;
}

.events .filter-categories li {
	display: block;
	transition: all 0.5s;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #121212;
	font-size: 17px !important;
	font-weight: 600;
	display: inline-block;
	max-width: 200px;
	width: 200px;
	height: 70px;
	line-height: 70px;
	background-color: #fff;
	cursor: pointer;
}

.filter-categories ul li.active span {
	color: #f4bc51;
}

.project-item {
	width: 100%;
}

.event-list {
	background-color: #fff;
}

.event-list ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.event-list ul li {
	display: block;
	text-align: left;
	margin-bottom: 5px;
}

.event-list ul li:last-child {
	margin-bottom: 0px;
}

.event-list ul .first-child {
	background-color: #eee;
}

.event-list ul .second-child {
	background-color: #ddd;
}

.event-list ul .third-child {
	background-color: #eee;
}

.event-list ul .fourth-child {
	background-color: #ddd;
}

.event-list ul .fivth-child {
	background-color: #eee;
}

.event-list ul li .date span {
	background-color: #f4bc51;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 25px;
	margin-right: 0px;
}

.event-list .event-item {
	margin: 0;
	padding: 0;
	list-style: none;
}

.event-list .event-item li {
	display: inline-block;
	padding: 10px;
}

.event-list .event-item li:last-child {
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}

.event-list .event-item .time span {
	text-align: center;
	margin-left: 50px;
	color: #4a4a4a;
	font-weight: 300;
	font-size: 15px;
	display: inline-block;
}

.event-list ul li .date span {
	padding-top: 15px;
	margin-top: 0px;
	font-size: 18px;
	display: block;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.event-list h4 {
	width: 300px;
	margin-top: 0px;
	font-size: 18px;
	text-transform: uppercase;
	color: #121212;
	font-weight: 700;
	margin-bottom: 5px;
	display: inline-block;
}

.event-list .web span {
	font-size: 13px;
	font-weight: 600;
	color: #b94e5e;
	display: inline-block;
}

.event-list .design span {
	font-size: 13px;
	font-weight: 600;
	color: #e86859;
	display: inline-block;
}

.event-list .app span {
	font-size: 13px;
	font-weight: 600;
	color: #f4bc51;
	display: inline-block;
}


.event-list .white-button a:hover {
	background-color: #f4bc51;
	color: #fff;
}

.event-list {
	transition: all 0.5s;
	height: 545px;
}





.testimonial {
	margin-top: 10px;
}

.testimonial .col-md-8 {
	padding-left: 5px;
	padding-right: 0px;
}

.testimonial .col-md-4 {
	padding-right: 5px;
	padding-left: 0px;
}

.testimonial-image {
	text-align: center;
	background-image: url(..img/testimonial-left-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 600px;
	height: 600px;

}

#owl-testimonial {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	background-image: url(..img/testimonial-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 600px;
	height: 600px;
}

#owl-testimonial .item {
	text-align: center;
}

#owl-testimonial .item img {
	width: 130px;
}

#owl-testimonial .item span {
	margin-top: 28px;
	display: block;
	color: #e86859;
	font-size: 13px;
	font-style: italic;
	font-weight: 300;
}

#owl-testimonial .item h4 {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
	color: #121212;
}

#owl-testimonial .item p {
	font-size: 17px;
	font-style: italic;
	color: #4a4a4a;
	padding: 0px 120px;
	font-weight: 300;
	line-height: 28px;
	letter-spacing: 0.5px;
}

.owl-pagination {
	margin-top: 15px;
	margin-left: -30px;
	opacity: 1;
	display: inline-block;
	position: absolute;
	text-align: center;
	z-index: 9999;
}


.owl-page span {
	text-align: center;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0px 5px;
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #e86859;
}




.services {
	margin-top: 10px;
	padding-top: 0vh;
	padding-bottom: 0vh;
	text-align: center;
	background-image: url(..img/services-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.services .col-md-3 {
	padding-left: 0px;
	padding-right: 0px;
}

.services .col-md-3 {
	padding-right: 0px;
	padding-left: 0px;
}

.flip-container {
	perspective: 1000;
}

/* turning on hover */

.flip-container:hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.flip-container,
.front,
.back {
	width: 100%;
	height: 350px;
	text-align: center;
	font-size: 30px;
}

/* flipping speed here */

.front {
	padding: 40px 30px;
}

.front .icon {
	width: 140px;
	height: 140px;
	line-height: 140px;
	text-align: center;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 30px auto;
}

.front h4 {
	margin-top: 0px;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
}

.flipper {
	-webkit-transition: 0.3s all;
	-webkit-transition-delay: 0.3s;
	-moz-transition: 0.3s all;
	-moz-transition-delay: 5s;
	-ms-transition: 0.3s all;
	-ms-transition-delay: 5s;
	-o-transition: 0.3s all;
	-o-transition-delay: 5s;
	transition: 0.3s all;
	transition-delay: 0.3s;
	transform-style: preserve-3d;
	position: relative;
}

/* making the the other side hidden while flipping */


.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front side is in front of a back side */

.front {
	z-index: 2;
	color: white;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back side */

.back {
	transform: rotateY(180deg);
}

.back p {
	color: #fff;
	padding: 90px 30px;
}

.first-service .front,
.first-service .back {
	background-color: rgba(244, 188, 81, 0.9);
}

.second-service .front,
.second-service .back {
	background-color: rgba(243, 158, 75, 0.9);
}

.third-service .front,
.third-service .back {
	background-color: rgba(185, 78, 94, 0.9);
}

.fourth-service .front,
.fourth-service .back {
	background-color: rgba(232, 104, 89, 0.9);
}




.contact-us .col-md-8 {
	padding-left: 0px;
	padding-right: 5px;
}

.contact-us .col-md-4 {
	padding-right: 0px;
	padding-left: 5px;
}


#contact .col-md-4 {
	padding-right: 15px;
	padding-left: 15px;
}


.contact-us {
	margin-top: 10px;
}

.contact-us #contact {
	min-height: 500px;
	height: 500px;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 120px;
	padding-right: 120px;
	text-align: center;
	background-image: url(..img/contact-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#contact input {
	border-radius: 0px;
	padding-left: 15px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.1);
	border-bottom: 2px solid #fff;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	box-shadow: none;
	line-height: 40px;
	height: 40px;
	width: 100%;
	margin-bottom: 30px;
}

#contact textarea {
	border-radius: 0px;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(250, 250, 250, 0.1);
	border-bottom: 2px solid #fff;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	box-shadow: none;
	height: 165px;
	max-height: 165px;
	min-height: 165px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	margin-bottom: 25px;
}

#contact button {
	float: left;
	padding: 14px 20px;
	background-color: #f39e4b;
	border-radius: 30px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	transition: all 0.5s;
	outline: none;
}

.contact-right-content {
	min-height: 500px;
	height: 500px;
	line-height: 500px;
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
	background-image: url(..img/contact-right-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.contact-right-content .icon {
	text-align: center;
	margin: 0 auto;
	width: 140px;
	height: 140px;
	line-height: 140px;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
}

.contact-right-content h4 {
	margin-top: 33px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
}

footer {
	height: 80px;
	margin-top: 10px;
	background-color: #bfd8d2;
	text-align: center;
}

footer p {
	font-size: 13px;
	color: #333;
	line-height: 80px;
	margin-bottom: 0px;
}

footer p em {
	font-weight: 700;
	font-style: normal;
}

@media (max-width: 1000px) {

	.event-list h4 {
		width: 230px;
	}

	.event-list .event-item .time span {
		margin-left: 20px;
	}

}

@media (max-width: 991px) {

	.banner .col-md-8 {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.banner .col-md-4 {
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.banner .left-banner-content {
		padding-left: 0px;
		text-align: center;
	}

	.left-banner-content h1 {
		font-size: 64px;
		font-weight: 300;
		color: #fff;
		line-height: 80px !important;
	}


	.banner .left-banner-content .line-dec {
		margin: 0 auto;
	}

	.best-offer .col-md-8 {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.best-offer .col-md-4 {
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.best-offer-right-content {
		text-align: center;
	}

	.best-offer-right-content {
		background-color: #eee;
		padding: 30px 30px;
		min-height: 550px;
		height: auto;
	}

	.best-offer-right-content .pink-button {
		margin-bottom: 50px;
	}

	.events {
		margin-right: 10px;
		margin-left: 10px;
	}

	.event-item {
		text-align: center !important;
		display: inline-block;
	}

	.event-item h4 {
		text-align: center !important;
	}

	.event-item span {
		text-align: center !important;
		display: inline-block;
		width: 100%;
	}

	.event-list h4 {
		width: 300px;
	}

	.event-list .event-item .time span {
		margin-left: 50px;
	}

	.event-list .project-item li:first-child {
		float: none;
	}

	.event-list .project-item li:last-child {
		float: none;
		margin-top: 0px;
		margin-right: 0px;
		padding-bottom: 25px;
	}

	.events .filter-categories li {
		text-align: center;
		display: inline-block;
		margin-bottom: -5px;
	}

	.event-list {
		transition: all 0.5s;
		height: auto;
	}

	.event-list .event-item li:last-child {
		float: right;
		margin-top: 30px;
		margin-right: 20px;
	}

	.event-list .event-item .time {
		margin-left: 0px;
	}

	.events .filter-categories li {
		cursor: pointer;
		display: block;
		transition: all 0.5s;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: #121212;
		font-size: 14px !important;
		font-weight: 600;
		display: inline-block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		background-color: #fff;
		padding: 0px 10px;
	}

	.event-list .event-item .time span {
		margin-left: 0px;
	}

	.testimonial .col-md-8 {
		margin-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.testimonial .col-md-4 {
		margin-top: 0px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.owl-pagination {
		margin-top: -15px;
	}

	#owl-testimonial {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#owl-testimonial .item p {
		padding: 0px 60px;
		font-size: 15px;
	}

	.services {
		margin-left: 10px;
		margin-right: 10px;
	}

	.contact-us .col-md-8 {
		margin-top: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.contact-us .col-md-4 {
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 10px;
	}

	.contact-us #contact {
		padding-left: 60px;
		padding-right: 60px;
	}

	.contact-us #contact {
		min-height: 600px;
		height: 600px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	footer {
		margin-right: 10px;
		margin-left: 10px;
	}

	footer p {
		font-size: 11px;
	}

}

@media (max-width: 843px) {

	.event-item {
		text-align: center;
		width: 100%;
	}

	.event-item li:first-child {
		float: none !important;
		width: 100px;
	}

	.event-item li {
		text-align: center !important;
		width: 49% !important;
	}

	.event-item li:last-child {
		display: block;
		margin-top: 5px !important;
		margin-right: 0px !important;
	}

	.event-list ul li .date span {
		background-color: #f4bc51;
		width: 100%;
		height: 80px;
		text-align: center;
		line-height: 25px;
		margin-right: 0px;
	}

	.event-list h4 {
		width: auto;
	}

}

@media (max-width: 1045px) {

	.event-list h4 {
		width: 250px;
	}

}

@media (max-width: 620px) {

	.event-list h4 {
		width: auto;
	}

}

@media (max-width: 500px) {

	.event-item {
		text-align: center;
		width: 100%;
	}

	.event-item li:first-child {
		float: none !important;
		width: 100px;
	}

	.event-item li {
		text-align: center !important;
		width: 100% !important;
	}

	.event-item li:last-child {
		float: none !important;
		margin-top: 15px !important;
		margin-right: 0px !important;
	}

	.event-list h4 {
		width: auto;
	}

}

/* ######################################################################################## */


@media (max-width: 991.98px) {

	.down {display: none;}
	/* .social-icons-bottom {display: block;} */

	.cap-head {
		font-size: 32px;
		text-transform: uppercase;
		margin: 0 30px;
		text-align: center;
	}

	.cap-head span {display: block;}

	.cap-body {
		font-size: 16px;
		line-height: 26px;
		padding: 0 30px;
		text-align: center;
	}

	.menu-item {
		padding: 5px 10px;
		font-weight: bolder;
		text-transform: uppercase;
		font-size: 14px;
	}

	/* header start */

	.header {
		background-color: transparent;
		background-color: #FFD07F;
		width: 100vw;
		flex-direction: column;
		height: max-content;
		margin: 0;
		padding: 10px 0;
		position: fixed;
		box-shadow: 0 0 15px 0 #1f1f1f;
	}

	.header-container {
		background-color: transparent;
		z-index: 100;
		top: 0;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.m-profile strong {
		font-size: 16px;
		border-radius: 15px;
		padding: 5px 0;
		transition: all 300ms ease-in-out;
	}
	.header .m-contact {
		display: none;
	}

	/* header menu start */
	.m-menu {
		display: flex;
		justify-content: start;
	}


	.menu-item {
		padding: 0;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 14px;
		margin: 5px 10px;
		transition: all 300ms ease-in-out;
		outline: 0px;
	}

	.menu-link:hover {
		text-decoration: none !important;
	}

	.menu-item:hover,
	.m-contact strong:hover {
		color: #123456;
		background-color: white;
		outline: 1px solid #123456;
		padding: 5px 30px;
	}


	/* intro start */

	.section-2 {
		height: max-content;
		padding: 50px 20px;

	}
	.intro {
		background-position: left;
	}
	.intro {
		position: relative;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 20px;
		z-index: 7;
		width: 100%;
	}
	.slider-button a {
		background-color: #FFD07F;
		font-size: 14px;
		border: none;
		padding: 10px 20px;
		margin: 0;
	}
	.cap-head {
		font-size: 42px;
		color: #FFD07F;
		width: 100%;
		text-align: left;
		margin-bottom: 50px !important;
		margin: 0;
		padding: 0;
	}
	.button li:nth-child(2) a {
		display: none;
	}
	.button li:nth-child(3) a {
		display: none;
	}
	.projectNumber{
		margin-top: 50px !important;
		margin-bottom: 0 !important;
	}
	.cap-body strong {
		color: #FFD07F;
		margin: 0;
		padding: 0;
		}
	
	.cap-head span {
		text-decoration: none;
		margin: 0;
		padding: 0;
	}
	
	.cap-body {
		color: white;
		font-size: 14px;
		line-height: 27px;
		margin: 0;
		padding: 0;
		margin-bottom: 0;
		text-align: left;
		width: 100%;
	}
	.intro .button {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 50px !important;
		margin: 10px 0 !important;
	}
	.social-icons-bottom {
		display: block;
		position: absolute;
		bottom: 50px;
		left: 20px;
	}
	.section-2:has(span)>span {
		padding: 20px;
	}

	.section-2 .row {
		display: flex;
		flex-direction: column;
		padding: 50px 0;
	}

	.card1,
	.card3,
	.card4 {
		height: 250px;
		margin: 10px 0;
		width: 100vw;
	}

	.card2 {
		display: none;
	}

	.section-2 ul {
		margin-top: 15px;
	}

	/* section 3 start */

	.section-3 {
		height: max-content;
		padding: 50px 0;
		margin: 0;
	}

	.section-3:has(span)>span {
		padding: 20px;
	}

	.section-3 span {
		text-align: left;
		padding: 20px;
	}

	.section-3 .row {
		width: 100%;
	}
	.section-3 .row .job-card {
		height: max-content;
		display: flex;
		flex-direction:column;
		align-items: center;
		width: 100%;
		position: relative;
		left: 3%;
	}

	.job-card .img {
		width: 100%;
		height: 100%;
	}

	.job-card .text {
		width: 90%;
		padding: 10px 0;
		margin: 0;
	}

	.section-3 .row .job-card:hover .text span {
		display: none;
	}

	.section-3 .row .cm {
		display: none;
	}

	.section-3 .row .job-card:hover .img img {
		transform: scale(1);
	}

	.whatsapp-button {
		display: none;
	}

	.whatsapp {
		display: none;
	}

	.wp-icon {
		display: none;
	}

	.wp-text {
		display: none;
	}











	.section-4 {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding: 50px 0 !important;
		color: white;
	}

	/* .section-4:has(span) > span{
		padding: 20px;
	} */
	/* .section-4 span{
		text-align: left;
		padding: 20px;
		font-size: 30px;
	} */

	.section-4 .deliveryHeading {
		padding: 0 20px !important;
		margin-bottom: 50px;
	}


	.section-4 .row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	.demoCard {
		height: 240px;
		width: 350px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all .3ms ease;
		border-radius: 10px;
		border: 3px solid #ffffff;
		position: relative;
		margin: 30px 0;
		}

	.cardOverlay {
		background-color: rgba(0, 0, 0, 0.295);
		position: absolute;
		height: 100%;
		bottom: -70px;
		padding: 0;
		background-color: #02060800;

	}

	.cardOverlay li {
		opacity: 1;
		list-style-type: block;
		transition: all 500ms ease-in-out;
	}

	.cardOverlay li a {
		text-decoration: none;
		color: #123456;
		font-weight: bold;
		font-size: 14px;
		background-color: white;
		padding: 5px 10px;
		border-radius: 10px;
		transition: all 300ms ease-in-out;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.164);
	}


	.cardOverlay li:nth-child(2) a:hover {
		background-color: white;
		color: #e86859;
	}

	.cardOverlay li:nth-child(3) a:hover {
		background-color: white;
		color: #0aa54a;
	}

	.cardOverlay li:first-child a {
		background-color: #ffffff;
		color: #123456;
	}

	.cardOverlay li:nth-child(2) a {
		background-color: #e86859;
		color: #ffffff;
	}

	.cardOverlay li:nth-child(3) a {
		background-color: #0aa54a;
		color: #ffffff;
	}

	.demoCard .cardOverlay li {
		list-style-type: none;

	}

	.section-4 span{
		width: 100%;
	}
	.deliveryHeading{
		font-size: 18px;
	}



	.imgg{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.pftext{
		margin-bottom: -35px !important;
		height: auto;
		margin: 0 30px;
	}
	.pftext h1{
		font-size: 21px;
	}
	.pftext span{
		font-size: 12px;
		word-spacing: initial;
		text-transform: none;
	}
	.imgg img{
		transition: all 300ms ease;
	}
}